* {
    font-family: 'roboto';
}
.header,
.d1 {
    background-color: #1F2937;
}

body {
    margin: 0;
}

.header,
.d1 {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
}


.header-logo {
    font-size: 36px;
    color: #F9FAF8;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

li,
.description,
.b1 {
    color: #E5E7EB;
    font-size: 18px;
}

li {
    margin-left: 15px;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.b1 {
    background-color: #3882f6;
    color: #E5E7EB;
    border-color: transparent;
}

.columbia-image {
    max-width: 50%;
    margin-left: 20px;
}

.d3 {
    background-color: #E5E7EB;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.speaker {
    text-align: right;
    font-size: 18px;
}

.boxes {
    display: flex;
}

.d4 {
    display: flex;
}