* {
    font-family: 'roboto';
}
.header,
.d1 {
    background-color: #1F2937;
}

body {
    margin: 0;
}

.header,
.d1 {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
}


.header-logo {
    font-size: 36px;
    color: #F9FAF8;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

li,
.description,
.b1 {
    color: #E5E7EB;
    font-size: 18px;
}

li {
    margin-left: 15px;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.b1 {
    background-color: #3882f6;
    color: #E5E7EB;
    border-color: transparent;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.columbia-image {
    max-width: 50%;
    margin-left: 20px;
}

.d3 {
    background-color: #E5E7EB;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.d2 {
    padding-left: 200px;
    padding-right: 200px;
}

.spots {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.spot {
    margin: 10px;
}

.spot img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.spot p {
    text-align: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.speaker {
    text-align: right;
    font-size: 18px;
}

.d4 {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.d4 p {
    color: #F9FAF8;
}

.b2 {
    background-color: #3882f6;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
}